{% extends 'layouts/base.html' %}

{% block title %}RuangInklusi - Text Sign Language{% endblock%}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="text-white">Speech Sign Language</h1>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body px-0 pt-0" style="height: 400px;">
                    <div id="videoContainer">
                        <video id="videoList" width="100%" height="400px" autoplay controls onended="playNextVideo()">
                            Your browser does not support the video tag.
                        </video>
                        <div id="loading" style="display: none;">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row mb-2">
                        <div class="col-9 d-flex align-items-center">
                            <p class="mb-0" id="speechStatus">Klik pada icon "Start" untuk mulai berbicara</p>
                        </div>
                        <div class="col-3 text-end">
                            <button id="toggleButton" onclick="toggleRecognition()"
                                class="btn btn-primary">Start</button>
                        </div>
                    </div>
                </div>
                <div class="card-body px-4 pt-0" style="height: 350px; overflow: auto;">
                    <p style="font-size: 25px; font-weight: 900;" id="result"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/speechSignLanguage.js')}}"></script>


{% endblock %}